<main>
  
  <div class="header-container">

    <a [routerLink]="['/']">
        <img src="/assets/logo.svg" alt="logo" aria-hidden="true">
    </a>
    
    <app-welcome-message></app-welcome-message>

    <a class="icons"> 
      <mat-icon fontIcon="exit_to_app" color="primary" matTooltip="Logout"></mat-icon>
    </a>  
    
    <a class="icons" [routerLink]="['/register']">
      <mat-icon fontIcon="person_add" color="primary" matTooltip="Register"></mat-icon>
    </a>

    <a class="icons" [routerLink]="['/login']">
      <mat-icon fontIcon="person" color="primary" matTooltip="Login"></mat-icon>
    </a>

    <a class="icons">
      <mat-icon aria-hidden="true" fontIcon="shopping_cart" color="primary" matTooltip="Shop"></mat-icon>
    </a>

    <a class="icons">
      <mat-icon aria-hidden="true" fontIcon="favorite" color="primary" matTooltip="Favorite"></mat-icon>
    </a>

    <a class="icons" [routerLink]="['/contactsupport']"> 
      <mat-icon fontIcon="contact_support" color="primary" matTooltip="Contact Support"></mat-icon>
    </a>

  </div>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>