:host {
  --content-padding: 10px;
}

div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
  background: linear-gradient(to right, #ffffff, #f0f0f0); /* Example gradient background */
}

.icons {
  display: flex;
}

.icon {
  text-decoration: none;
  margin-right: 10px; /* Adjust spacing between icons */
  transition: transform 0.3s ease; /* Example icon animation */
}

.icon:hover {
  transform: scale(1.2); /* Example hover effect */
}

.welcome-message {
  font-size: 24px; /* Example font size for a header */
  font-weight: bold; /* Example font weight for emphasis */
  color: #333; /* Example color for better readability */
  margin-right: 20px; /* Adjust margin for spacing */
}

.icon mat-icon {
  cursor: pointer; /* Apply pointer cursor to mat-icon elements inside .icon */
}

.content {
  padding: var(--content-padding);
}
