<main>
  <div class="header">
    <a [routerLink]="['/']">
      <img src="/assets/logo.svg" alt="logo" aria-hidden="true">
    </a>
    
    <span *ngIf="username != ''" class="welcome-message">Welcome, {{username}}!</span>
    
    <div class="icons">
      
      <a class="icon" [routerLink]="['/contactsupport']"> 
        <mat-icon fontIcon="contact_support" color="primary" matTooltip="Contact Support"></mat-icon>
      </a>
      
      <a class="icon" [routerLink]="['/favorite']">
        <mat-icon aria-hidden="true" fontIcon="favorite" color="primary" matTooltip="Favorite" [matBadge]="countFavorites"></mat-icon>
      </a>
      
      <a class="icon" [routerLink]="['/shop']">
        <mat-icon aria-hidden="true" fontIcon="shopping_cart" color="primary" matTooltip="Shop" [matBadge]="countBooks" matBadgeOverlap="large"></mat-icon>
      </a>
      
      <a class="icon" [routerLink]="['/login']">
        <mat-icon fontIcon="person" color="primary" matTooltip="Login"></mat-icon>
      </a>
      
      <a class="icon" [routerLink]="['/register']">
        <mat-icon fontIcon="person_add" color="primary" matTooltip="Register"></mat-icon>
      </a>
      
      <a class="icon" (click)="logout()"> 
        <mat-icon fontIcon="exit_to_app" color="primary" matTooltip="Logout"></mat-icon>
      </a>  
    </div>
  </div>
    
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
