:host {
    --content-padding: 10px;
  }
  
  div{
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
  }

  a {
    text-decoration: none; 
    margin-right: 2%;
  }

  .icons{
    float:right;
  }

  .content {
    padding: var(--content-padding);
  }
  