<article>
    <img class="listing-photo" [src]="bookProduct?.imageUrl"
      alt="Exterior photo of {{bookProduct?.name}}"/>
    <section class="listing-description">
      <h2 class="listing-heading">{{bookProduct?.name}}</h2>
      <p class="listing-location">{{bookProduct?.author}}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">{{bookProduct?.description}}</h2>
      <ul>
        <li>Price: {{bookProduct?.price}}</li>
      </ul>
    </section>

    <section class="listing-apply">
      <h2 class="section-heading">Create a review</h2>

      <form>

        <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Stefan">
        </mat-form-field><br>
        
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Raileanu">
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput ></textarea>
        </mat-form-field><br>

        <button mat-raised-button color="primary">Submit</button>
      </form>
      
    </section>
</article>