.shop-container {
    display: flex;
    flex-direction: column;
  }
  
.book-product-container {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}

.product-image {
  width: 150px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust spacing between image and text */
}

.product-text {
  flex: 1; /* Take remaining space */
}

.proceed-button {
  margin-top: 20px; /* Adjust spacing between products and button */
}

.total-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 20px; /* Increased padding for a bigger container */
  border: 2px solid #8400ff; /* Changed border style and color */
  border-radius: 10px; /* Increased border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjusted box shadow for a better look */
  font-size: 18px; /* Increased font size for better readability */
  font-weight: bold; /* Added font weight for emphasis */
  color: #7b00ff; /* Changed text color */
}

.buttons-container {
display: flex;
align-items: flex-end; /* Align buttons to the right */
position: relative; /* Position buttons relative to the product container */
bottom: 0; /* Align buttons to the bottom */
right: 0; /* Align buttons to the right */
}
.buttons-container button {
margin-left: 10px;
}