.shop-container {
    display: flex;
    flex-direction: column;
  }
  
  .book-product-container {
    display: flex;
    flex-direction: column;
  }
  
  .product-item {
    display: flex;
    margin-bottom: 20px; /* Adjust spacing between product items */
  }
  
  .product-details {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 150px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .product-text {
    flex: 1; /* Take remaining space */
  }
  
  .proceed-button {
    margin-top: 20px; /* Adjust spacing between products and button */
  }
  