<section class="shop-container">
    <div class="book-product-container">
      <div *ngFor="let bookProduct of bookProducts" class="product-container">
        <div class="product-details">
          <img class="product-image" [src]="bookProduct.book.imageUrl" alt="Exterior photo of {{bookProduct.book.name}}">
          <div class="product-text">
                <h2>{{ bookProduct.book.name }}</h2>
                <p>Author: {{ bookProduct.book.author }}</p>
                <p>Price: {{ bookProduct.book.price }}</p>
                <a [routerLink]="['/details', bookProduct.book.id]">Learn More</a>
            </div>
        </div>
        <div class="buttons-container">
            <button mat-raised-button color="primary" (click)="removeFavorite(bookProduct)" matTooltip="Remove book">Remove</button>
            <button mat-raised-button color="primary" (click)=addShop(bookProduct) matTooltip="Buy book">Buy</button>
        </div>
      </div>
    </div>
</section>
  